<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:property name="M_PI" value="3.1415926535897931" />

 <!-- Base quadrotor link -->
  <xacro:macro name="dji_m100_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1024" />
        <origin xyz="0 0 0" />
        <inertia ixx="170.667" ixy="0.0" ixz="0.0" iyy="170.667" iyz="0.0" izz="170.667" />
      </inertial>

      <visual name="body">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.dae"/>
        </geometry>
      </visual>
<!--
	<xacro:if value="$(arg hitl_model)">
      <visual name="base_link::collision_sphere">
        <pose frame=''>0 0 0 0 0 0</pose>
        <geometry>
          <sphere radius="0.75"/>
        </geometry>
      </visual>
</xacro:if>
-->
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.stl"/>
        </geometry>
      </collision>
      <gravity>1</gravity>
    </link>

    <xacro:if value="$(arg hitl_model)">
      <gazebo>
        <plugin name='hitl_controller' filename='libdji_m100_controller_gazebo_hitl.so'>
          <!-- <initial_height>1.0</initial_height> -->
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>

