<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  	<xacro:macro name="lidar_macro">

  		<!--Lidar Link -->
	    <joint name="lidar_joint" type="fixed">
	      	<origin xyz="0 0 0.25" rpy="0 0 0"/>
	      	<parent link="base_link"/>
	      	<child link="lidar_link"/>
	    </joint>

	    <link name="lidar_link">
	    	<collision>
			      <origin xyz="0 0 0" rpy="0 0 0"/>
			      <geometry>
			    <box size="0.1 0.1 0.1"/>
			      </geometry>
			</collision>

			 <visual>
			      <origin xyz="0 0 0" rpy="0 0 0"/>
			      <geometry>
			        <mesh filename="package://dji_m100_description/meshes/hokuyo.dae"/>
			      </geometry>
			 </visual>

			<inertial>
			      <mass value="1e-5" />
			      <origin xyz="0 0 0" rpy="0 0 0"/>
			      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
	    </link>

	      <!-- hokuyo -->
		<gazebo reference="lidar_link">
		    <sensor type="ray" name="head_hokuyo_sensor">
		      <pose>0 0 0 0 0 0</pose>
		      <visualize>True</visualize>
		      <update_rate>40</update_rate>
		      <ray>
		        <scan>
		          <horizontal>
		            <samples>720</samples>
		            <resolution>1</resolution>
		            <min_angle>-1.570796</min_angle>
		            <max_angle>1.570796</max_angle>
		          </horizontal>
		        </scan>
		        <range>
		          <min>0.10</min>
		          <max>30.0</max>
		          <resolution>0.01</resolution>
		        </range>
		        <noise>
		          <type>gaussian</type>
		          <!-- Noise parameters based on published spec for Hokuyo laser
		               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
		               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
		               reading. -->
		          <mean>0.0</mean>
		          <stddev>0.01</stddev>
		        </noise>
		      </ray>
		      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
		        <topicName>dji/laser/scan</topicName>
		        <frameName>lidar_link</frameName>
		      </plugin>
		    </sensor>
		</gazebo>

  	</xacro:macro>
</robot>